body {
    font-family: 'Open Sans', 'Arial', 'sans-serif';
    background-color: #fcf9f0;
}

header {
    background-color: #aba89f;
    padding: 20px;
    color: #fcfcfc;
}

header h1 {
    margin: 0px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
}